*{
    font-family: 'Times New Roman', Times, serif;
    color: navy;
    box-sizing: content-box;
}

.page-content{
    background-color: #f6f2f2;
    text-align: center;
}

header, footer{
    background-color: rgb(248, 248, 248);
    padding: 0px;
    text-align: center;
}

.instructions{
    font-size: 1.1rem;
}
